<form id="userForm" th:object="${courseForm}" method="post" class="form" role="form" th:action="${editMode} ?@{/editCourse} :@{/Cursos}">
	<input class="form-control" type="hidden" th:field="${courseForm.id}">
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Nombre Materia</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${courseForm.name}" required="">
			<!-- <div class="alert-danger" th:if="${#fields.hasErrors('name')}" th:errors="*{name}">Name Error</div> -->
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Horario de Clase (entre 08HS y 22HS)</label>
		<div class="col-lg-9">
			<input class="form-control" type="text" th:field="${courseForm.class_schedule}" required="">
			<!--<div class="alert-danger" th:if="${#fields.hasErrors('class_schedule')}" th:errors="*{class_schedule}">Name Error</div>-->
		</div>
	</div>
	<div class="form-group row">
		<label class="col-lg-3 col-form-label form-control-label">Total de Estudiantes Permitida</label>
		<div class="col-lg-9">
			<input class="form-control" type="number" th:field="${courseForm.total_students}" required="">
		<!--	<div class="alert-danger" th:if="${#fields.hasErrors('total_students')}" th:errors="*{total_students}">Name Error</div>-->
		</div>
	</div>
	
	
	<div class="form-group row">
		<div class="col-lg-12 text-center">
			<a class="btn btn-secondary" th:href="@{'/course/cancel'}">Cancelar</a>
			<input type="submit" class="btn btn-primary" value="Save Changes" th:value="${editMode}?'Guardar Curso':'Crear Curso'">
		</div>
	</div>
</form>